/* 这个动态背景和登录页面是在油管上看到蛮好看的视频跟着学的 */

*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 渐变背景 */
    background: linear-gradient(125deg,#2c3e50,#27ae60,#2980b9,#e74c3c,#8e44ad);
    background-size: 500%;
    /* 执行动画方法 : 动画名 时长 线性的 无限次播放 */
    animation: bgAnimation 15s linear infinite;
}

/* 定义动画 */
@keyframes bgAnimation{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
    
}

.container{
    background-color: #fff;
    width: 650px;
    height: 415px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    border-radius: 5px;
}
.from-box{
    position: absolute;
    top: -10%;
    left: 5%;
    background-color: #28ab68;
    width: 320px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
     display: flex;
     align-items: center;
     justify-content: center;
     z-index: 2;
     /* 动画过渡 加速之后 减速 */
     transition: 0.5s ease-in-out;
}

.register-box,.login-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.hidden{
    display: none;
    transition: 0.5s;
}

h1{
    text-align: center;
    margin-bottom: 25px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 5px;
}

input{
    background-color: transparent;
    width: 70%;
    color: #fff;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding: 10px 0;
    text-indent: 10px;
    margin: 8px 0;
    font-size: 14px;   
    letter-spacing: 2px;
}
input::placeholder{
    color: #fff;
}

input:focus{
    color: #86eba6;
    outline: none;
    border-bottom: 1px solid #135c2f;
    transition: 0.5s;
}
input:focus::placeholder{
    opacity: 0;
}

.from-box button{
    width: 70%;
    margin-top: 35px;
    background-color: #f6f6f6;
    outline: none;
    border-radius: 8px;
    padding: 13px;
    color: #2a6456;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
}

.from-box button:hover{
    background-color: #86eba6;
    color: #f6f6f6;
    transition: background-color 0.5s ease;
}

.con-box{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.con-box.left{
    left: -2%;
}

.con-box.right{
    right: -2%;
}

.con-box h2{
    color: #8e9aaf;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 4px;
}

.con-box p{
    font-size: 12px;
    letter-spacing: 2px;
    color: #8e9aaf;
    text-align: center;
}
.con-box span{
    color: #70ce78;
}

.con-box img{
    width: 150px;
    height: 150px;
    opacity: 0.9;
    margin: 40px 0;
}

.con-box button{
    margin-top: 3%;
    background-color: #fff;
    color: #62ad8b;
    border: 1px solid #1b5d43;
    padding: 6px 10px;
    letter-spacing: 1px;
    outline: none;
    /* 鼠标放上变小手 */
    cursor: pointer;
    border-radius: 8px;
}
.con-box button:hover{
    background-color: #074f0d;
    color: #f6f6f6;
}